.door {
  display: inline-block;
  /* placeholders */
  /* background-image: linear-gradient(-45deg, $pink, $green, $blue, $yellow);
   * */
  background-image: linear-gradient(-45deg, $pink, $green, $blue, $yellow);

  min-width: 25%;
  max-width: 25%;
  min-height: 75vh;
  max-height: 75vh;
  margin-top: 12.5vh;

  /* animate the color */
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: background-dance;
}

img {
  object-fit: cover;
}

@keyframes background-dance {
  from {
    background-size: 300% 300%;
    background-position: 0% 0%;
  }

  15% {
    background-size: 300% 300%;
    background-position: 100% 100%;
  }

  34% {
    background-size: 300% 300%;
    background-position: 50% 0%;
  }

  50% {
    background-size: 300% 300%;
    background-position: 50% 100%;
  }

  67% {
    background-size: 300% 300%;
    background-position: 0% 100%;
  }

  85% {
    background-size: 300% 300%;
    background-position: 50% 50%;
  }

  to {
    background-size: 300% 300%;
    background-position: 0% 0%;
  }
}

