/* colors */
.panel {
  display: inline-block;
  /* placeholders */
  /* background-image: linear-gradient(-45deg, $pink, $green, $blue, $yellow);
   * */
  background-image: linear-gradient(-45deg, #feaaf6, #98feb1, #aaf1fe, #f3fea3);
  min-width: 60%;
  max-width: 60%;
  margin-top: 12.5vh;
  /* animate the color */
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: background-dance;
}

div.img-box {
  width: 100%;
}

div.img-box img {
  width: 100%;
  object-fit: cover;
}

@keyframes background-dance {
  from {
    background-size: 300% 300%;
    background-position: 0% 0%;
  }
  15% {
    background-size: 300% 300%;
    background-position: 100% 100%;
  }
  34% {
    background-size: 300% 300%;
    background-position: 50% 0%;
  }
  50% {
    background-size: 300% 300%;
    background-position: 50% 100%;
  }
  67% {
    background-size: 300% 300%;
    background-position: 0% 100%;
  }
  85% {
    background-size: 300% 300%;
    background-position: 50% 50%;
  }
  to {
    background-size: 300% 300%;
    background-position: 0% 0%;
  }
}
div.go-button {
  display: flex;
  width: 66.7%;
  margin-left: 16.65%;
  justify-content: space-evenly;
}

div.text-input {
  display: flex;
  flex-direction: column;
}

.picture-container {
  display: flex;
  width: 80%;
  margin-left: 10%;
}

.thumb-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.thumb-box {
  border: 1px 1px black;
  width: 320px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.picture-page-container {
  display: flex;
  width: 80%;
  height: 90vh;
  margin-top: 5vh;
  justify-content: space-between;
}

.picture-page-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 33.3%;
}

.picture-page-caption {
  font-family: serif;
  font-size: 3rem;
}

.picture-page-nav {
  margin-top: 33vh;
}

.picture-page-picture {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 66.7%;
  align-content: center;
}

.picture-page-picture img {
  max-height: 100%;
  object-fit: contain;
}

.title-row {
  font-size: 3rem;
  margin-top: 2rem;
}

* {
  box-sizing: border-box;
}

body {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: colorfade;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@keyframes colorfade {
  from {
    background-color: #feaaf6;
  }
  75% {
    background-color: #aaf1fe;
  }
  to {
    background-color: #feaaf6;
  }
}
@keyframes background-dance {
  from {
    background-size: 300% 300%;
    background-position: 0% 0%;
  }
  15% {
    background-size: 300% 300%;
    background-position: 100% 100%;
  }
  34% {
    background-size: 300% 300%;
    background-position: 50% 0%;
  }
  50% {
    background-size: 300% 300%;
    background-position: 50% 100%;
  }
  67% {
    background-size: 300% 300%;
    background-position: 0% 100%;
  }
  85% {
    background-size: 300% 300%;
    background-position: 50% 50%;
  }
  to {
    background-size: 300% 300%;
    background-position: 0% 0%;
  }
}

/*# sourceMappingURL=main.css.map */
